.subtitle {
    font-family: 'Roboto';
    font-size: calc(14px + 10 * (100vw / 1920));
    font-weight: normal;
    color: #3E3E41;
    max-width: 1296px;
    margin: 0 auto;
    margin-left: 0;

}

@media screen and (max-width: 1024px) {
    .subtitle {

        max-width: 920px;
    }
}
@media screen and (max-width: 760px) {
    .subtitle {

        max-width: 500px;
        text-align: center;
    }
}

@media screen and (max-width: 501px) {
    .subtitle {
        font-size: 16px;
        margin-left: auto;
        margin-top: 10px;
    }
}

/
