@import url('./__title/main__title.css');
@import url('./__image/main__image.css');
@import url('./__container/main__container.css');

.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 120px;
    background-image: url(../../images/portal-hero.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 618px;
    position: relative;

}

@media all and (max-width : 1024px) {
  .main {
   width: auto;
   margin-top: 120px;
   min-height: 562px;
   background-size: cover;
  }
}

@media all and (max-width : 768px) {
  .main {
    min-height: 500px;

  }
}
