.digits__item-title {
    font-family: 'Roboto';
    font-size: 3rem;
    color: #B91827;
    z-index: 1;
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 30px;
}

@media screen and (max-width: 426px) {
    .digits__item-title {
        font-size: 2rem;
    }
}
